/* importar fuentes custom */

@font-face{
    font-family: "maquina";
    src:url("fonts/TTWPGOTT.ttf");
}



/*--------------Generales---------------*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "maquina", Arial, Helvetica;
    font-size: 20px;
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

h1{
    font-size: 40px;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
}

/**---------------Redes Sociales---------------------------**/

#redes-sociales{
    display: block;
    width: 12.4%;
    position: fixed;
}

#redes-sociales a{
    display: flex;
    justify-content:center;
    text-decoration: none;
    color: white;
    font-size: 28px;
    padding: 50px;
}

#redes-sociales a:first-child{
    margin-top: 100px;
}

/**------------barra de navegación o header--------------------**/
#menu{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(34,34,34,0.85);
    position: fixed;
}

#menu  ul{
    display: block;
    width: 100%;
    text-align: center;
    height: inherit;
    margin: 0px auto;
}

#menu ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 85px;
}

#menu a{
    display: block;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 28px;
    height: inherit;
    text-decoration: none;
    color: whitesmoke;
    transition: all 300ms;
}

#menu a:hover,
.actived{
    background: black;
}

#logo {
    background: transparent;
    text-transform: uppercase;
    font-size: 20px;
}

/*----------------------contenedor principal-------------------*/
#content{
    min-height: 800px;
    width: 75%;
    margin: 0 auto;

    /*background: rgba(255, 255, 255, 0.8);*/
    padding-top: 120px;
}


/**--------pie de página-------------**/
footer{
    width: 75%;
    margin: 0 auto;
    padding: 15px;
    color: white;
}

/**----------------about-------------------------**/
#title{
    color: white;
    width: 50%;
    margin: 0 auto;
    -webkit-transform: rotate(15deg);
}

#title h1{
    background-color: black;
    opacity: 0.8;
    margin-top: 200px;
    width: 430px;
}

#title p{
    font-size: 25px;
    margin-top: 20px;
}

.about{
    width: 75%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
    margin-top: 100px;
}

.about h2{
    color: white;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: justify;
    width: 50%;
    margin-left: 35%;
}


/**---------------bloques----------------------**/
.bloque a{
    color: white;   
    text-decoration: none;
    text-align: center;
    
}


.bloque{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    list-style:none;
    margin-bottom: 30px;
}

@media(min-width:768px){
    .bloque{
        grid-template-columns: repeat(2, 1fr);
        list-style:none;
    }
}

#titulo{
    text-align: center;
    box-shadow: 0px 35px 40px  black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    font-size: 37px;
    -webkit-transform: rotate(-25deg);
    margin-top: 170px;
    padding: 30px;
}

#titulo:hover{
    transform: scale(1.1);
    transform: all .10s ease;
    -webkit-transform: rotate(15deg);
}




